</section>

<div class="menu">

    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/why">Why JC TRANSPORT</a></li>
        <li><a href="/driverApp">Driver Application</a></li>
        <li><a href="/contact">Contact Us</a></li>

    </ul>

</div>

<section class="about">

</section>

<script>

    const menuToggle = document.querySelector('.toggle')
    const showcase = document.querySelector('.showcase')

    menuToggle.addEventListener('click', () => {
    menuToggle.classList.toggle('active')
    showcase.classList.toggle('active')
    
})

</script>

<script src="app.js"></script>

</body>

</html>