<ul class="social">

    <li><a href="https://www.facebook.com/juliecamarata" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>

    <li><a href="https://twitter.com/jimcam51" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>

    <li><a href="https://www.instagram.com/teamjuls/?hl=en" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>

    <li><a href="mailto:jctransportspecialty@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-3x"></i></a></li>

    <li><a href="/contact"><i class="fas fa-phone-square-alt fa-3x"></i></a></li>

</ul> 

</section>

<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/why">Why JC TRANSPORT</a></li>
        <li><a href="/driverApp">Driver Application</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>

<script>
    const menuToggle = document.querySelector('.toggle')
    const showcase = document.querySelector('.showcase')

    menuToggle.addEventListener('click', () => {

    menuToggle.classList.toggle('active')
    showcase.classList.toggle('active')  
    
    })

</script>

<script src="app.js"></script>

</body>

</html>