<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Transport</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <section class="showcase">

        <header>

            <a href="/"><h2 class="logo"><span>JC</span> TRANSPORT</h2></a>
            <div class="toggle"></div>
 
        </header>

<img class="background-img" src="../images/bulldog.jpg" alt="">

<div class="overlay"></div>

<section class="text">

    <div class="text-box">

        <h2>About Us</h2>
          
        <p><%=aboutContent%></p>

    </div>
    
</section>

<ul class="social">

    <li><a href="https://www.facebook.com/juliecamarata" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>

    <li><a href="https://twitter.com/jimcam51" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>

    <li><a href="https://www.instagram.com/teamjuls/?hl=en" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>

    <li><a href="mailto:jctransportspecialty@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-3x"></i></a></li>

    <li><a href="/contact"><i class="fas fa-phone-square-alt fa-3x"></i></a></li>

</ul> 



<%- include('partials/footer') -%>