<%- include('partials/header.ejs') -%>

<img class="background-img" src="../images/bulldog.jpg" alt="">

<div class="overlay"></div>

<section class="text">

    <div class="text-box">

        <h2>About Us</h2>
          
        <p><%=aboutContent%></p>

    </div>
    
</section>

<%- include('partials/footer') -%>