<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Transport</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>

<body>

    <section class="showcase">

        <header>

            <a href="/"><h2 class="logo"><span>JC</span> TRANSPORT</h2></a>
            <div class="toggle"></div>
        
        </header>

        <img id="wheels" src="../images/contact.png" alt="">
        
        <div class="overlay"></div>
    
    <div class="container">

        <div class="wrapper animated bounceInLeft ">

            <div class="contact">

                <h3><span>EMAIL</span> US OR <span>CALL</span> (310) 503-4318</h3>

                <!--TO DO VALIDATION-->

                <form method="POST" data-netlify="true">
                    
                    <p>
                        <label>Name</label>
                        <input type="text" id="name" name="name">
                    </p>
                    
                    <p>
                        <label>Company</label>
                        <input type="text" id="company" name="company">
                    </p>
                    
                    <p>
                        <label>Email Address</label>
                        <input type="text" id="email" name="email">
                    </p>
                    
                    <p>
                        <label>Phone Number</label>
                        <input type="text" id="phone" name="phone">
                    </p>
                    
                    <p class="full">
                        <label>Message</label>
                        <textarea name="message" id="message" rows="5"></textarea>
                    </p>
                    
                    <div class="field">
                        <div data-netlify-recaptcha='true'></div>
                    </div>
                    
                    <p class="full">
                        <button type="submit">Submit</button>
                    </p>
                
                </form>
            
            </div>
        
        </div>
    
    </div>

    <ul class="social">

        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>

        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>

        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>

        <li><a href="mailto:jctransportspecialty@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-3x"></i></a></li>
        
        <li><a href="/contact"><i class="fas fa-phone-square-alt fa-3x"></i></a></li>
    
    </ul> 

    

    <%- include('partials/footer') -%>