<%- include('partials/header.ejs') -%>

<section class="showcase">
    <div class="text">
        <h2>GET HOME EVERY WEEKEND!</h2>
        <h3>We put our drivers FIRST!</h3>
        <a id="download-app" href="Updated Application2021.pdf">Download Application</a>
    </div>
    
    <img class="background-img" src="../images/Application2.png" alt="">
    <div class="overlay"></div>

    <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        <li><a href="mailto:jctransportspecialty@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-3x"></i></a></li>
        <li><a href="/contact"><i class="fas fa-phone-square-alt fa-3x"></i></a></li>
    </ul> 


</section>




<%- include('partials/footer') -%>