<%- include('partials/header') -%>

<video src="moving-Truck.mp4" muted loop autoplay></video>
<div class="overlay"></div>
<div class="text">
    <h2>DRIVEN TO DELIVER</h2>
    <h3></h3>
    <p>End-to-End Transportation and Custom Logistics Solutions</p>
    <a href="/why">Explore</a>
</div>
<ul class="social">
    <li><a href="https://www.facebook.com/juliecamarata" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
    <li><a href="https://twitter.com/jimcam51" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="https://www.instagram.com/teamjuls/?hl=en" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    <li><a href="mailto:jctransportspecialty@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-3x"></i></a></li>
    <li><a href="/contact"><i class="fas fa-phone-square-alt fa-3x"></i></a></li>
</ul> 

<%- include('partials/footer') -%>