<%- include('partials/header') -%>



<div class="overlay"></div>

<div class="text">

    <h2>Message Sent!<br>Thank you!</h2>
    <a href="/">Go back home</a>

</div>

<%- include('partials/footer') -%>