<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Transport</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../css/why.css">
</head>

<body>

    <section class="showcase">

        <header>

            <a href="/"><h2 class="logo"><span>JC</span> TRANSPORT</h2></a>
            <div class="toggle"></div>
        
        </header>

        <img class="background-img" src="../images/why3.png" alt="">
        <div class="overlay"></div>

<section class="text">

    <h2>Jobs done right, on time, in the right way.</h2>
    <p>It's who we are and what we do. Our professional staff of drivers, dispatchers and support staff know that your needs must be our mission.</p>
    <a id="download-app" href="/contact">REQUEST A QUOTE</a>

</section>

<section class="reasons">

    <div class="reasons-div">

        <h3>EQUIPMENT</h3>
        <p>We invest in top of the line tractors and equipment, and have a second-to-none maintenance team that keeps your freight moving.</p>
    
    </div>
    
    <div class="reasons-div">

        <h3>TECHNOLOGY</h3>
        <p>We use the latest technology that provides real time information that is accessible, meaningful and manageable which improves the decision making process.</p>

    </div>

    <div class="reasons-div">

        <h3>COMMITMENT</h3>
        <p>Whatever you need, we are here to take care of you.  Whether it is overnight delivery or an ongoing challenge for your company, we provide specialized services for important shipments.</p>
    
    </div>

</section> 

<%- include('partials/footer') -%>