@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color: #03a9f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    /* display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    text-align: left;
    background: #111111;
    color: white;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;

}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 3%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase header a {
    text-decoration: none;
}

.showcase h2 span {
    color: #F58702;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}

.text {
    /* padding: 0 100px;
    height: 100vh; */
    display: flex;
    align-items: center;
    /* display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 10;
    padding: 5% 0 5% 0;
    margin-bottom: 2%; */
}

.text-box {
    position: relative;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    max-width: 38%;
    max-height: 500px;
    padding: 20px;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    max-width: 100%;
    /* margin-top: 20px; */
    text-align: left;
    /* padding: 0 0 3% 3%; */
}

.text p {
    font-size: 1.2em;
    font-weight: 400;
    max-width: 100%;
    text-align: left;
    /* opacity: 1; */
}

.text span {
    background: #F58702;
    opacity: 0.5;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111111;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
    background: #F58702;
}

.about-paragraph {
    padding: 3% 3% 5% 3%;
    background: #F58702;
    opacity: 0.5;
}

.social {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0 3%;

}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111111;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}

.fa-envelope-square {
    color: #000;
    opacity: .8;
    padding-bottom: 10px;
}

.fa-phone-square-alt {
    color: #000;
    opacity: .8;
    padding-bottom: 10px;
}

button {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111111;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    z-index: 50;
    border: none;
}

button:hover {
    letter-spacing: 6px;
    background: #F58702;
}





@media(max-width: 1400px) {

    .showcase,
    .showcase header {
        padding: 1% 2%;
    }

    .background-img {
        object-fit: cover;
    }

    /* .text {
        padding-bottom: 10%;
    } */

    .text h2 {
        font-size: 3.5em;
        /* margin-top: 100px; */
        text-align: left;
    }

    .text h3 {
        font-size: 3em;
        margin-top: 100px;
        max-width: 100%;
    }

    .text p {
        font-size: 1.1em;
        margin: 20px 0;
        font-weight: 400;
        /* max-width: 700px; */
    }

}

@media(max-width: 1000px) {
    .background-img {
        object-fit: cover;

    }

    .text {
        padding-bottom: 10%;
    }

    .text-box {
        position: relative;
        background: rgba(255, 255, 255, .2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        max-width: 38%;
        max-height: 500px;
        padding: 3px;
        margin-top: 50px;
    }

    .text h2 {
        font-size: 3em;
        font-weight: 800;
        line-height: 1em;
        text-transform: uppercase;
        max-width: 100%;
        /* margin-top: 20px; */
        text-align: center;
        /* padding: 0 0 3% 3%; */
    }

    .text p {
        font-size: 1.0em;
        font-weight: 400;
        max-width: 100%;
        text-align: center;
        /* opacity: 1; */
    }

    .text a {
        /* display: block; */
        margin: auto;
        text-align: center;
        max-width: 40%;
        font-size: 1em;
        padding: 20px 20px;
    }

    .text a:hover {
        letter-spacing: 2px;
        background: #F58702;
    }

    .social {
        padding: 5% 0 1.5% 5%
    }

}

@media(max-width: 750px) {
    .text-box {
        position: relative;
        background: rgba(255, 255, 255, .2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        max-width: 100%;
        max-height: 600px;
        padding: 3px;
    }

    .text h2 {
        font-size: 2.5em;
        font-weight: 800;
        line-height: 1em;
        text-transform: uppercase;
        max-width: 100%;
        /* margin-top: 20px; */
        text-align: center;
        /* padding: 0 0 3% 3%; */
    }

    .text p {
        font-size: .9em;
        font-weight: 400;
        max-width: 100%;
        text-align: center;
    }

    .text a {
        max-width: 60%;
    }
}